.navbar.bg-light {
background-color: #ffffff !important;
} 
.pri {
  margin-left: 2rem;
}
.menu {
color: black;
}
.form-control {
border-radius: 4.25rem;
}
#menu ul li {
display: inline;
} 
#menu ul li a {
padding: 20px;
display: inline-block;
text-decoration: none;
transition: background .4s;
color: black;
}
#menu {
align-items: center;
margin: 1rem 0 0 7.5rem;
}


  

